<h1>Test PDF</h1>
<p>
  date = <%= date %>
  payment_ref = <%= payment_ref %>
  lessee_full_name = <%= lessee_full_name %>
  correspondence_address_1 = <%= correspondence_address_1 %>
  correspondence_address_2 = <%= correspondence_address_2 %>
  correspondence_address_3 = <%= correspondence_address_3 %>
  correspondence_postcode = <%= correspondence_postcode %>
  lessee_short_name = <%= lessee_short_name %>
  property_address = <%= property_address %>
  arrears_letter_1_date = <%= arrears_letter_1_date %>
  total_collectable_arrears_balance = <%= total_collectable_arrears_balance %>
</p>